{% extends "main.html" %}

{% block title %}
  PUMA Production
{% endblock %}
{% block activeHome %} {% include 'active_bar.html' %} {% endblock %}

{% block dashboard %}
  <style>
    .menu_item{
      color: #0e2a5b; 
      font-size: 22px;
    }
    .nameStyle{
      color: white;
    }
    .roleStyle{
      color: #b7b9bd;
    }
  </style>
  <iframe style="height: 100%; width: 100%;" src="https://mybi.groupe-hasnaoui.com/reports/powerbi/BI/production?rs:embed=true" title="PowerBI" />
{% endblock %}